venv/
.venv/
__pycache__/
*.py[cod]
.git/
.gitignore
.idea/
.vscode/
mlruns/
mlflow.db
data/
models/
notebooks/
*.png
*.pkl
metrics.json
.dvc/
*.dvc
.trash/
*.egg-info/
dist/
build/
.DS_Store
logs/
airflow-logs/
plugins/
