__pycache__/
*.py[cod]
venv/
.env
.ipynb_checkpoints
mlruns/
.trash/
*.egg-info/
dist/
build/
.DS_Store
.idea/
mlflow.db
notebooks/*.png

data/processed/
data/prepared/
data/models/
data/raw/House_Rent_10M_balanced_40cities.csv
models/